
<div class="current-user-content-container">
  <div class="current-user-text-container">
    <img class="timesweep-logo-circle" src="assets/images/timesweep_circle_100.png" alt="" />
    <h2 class="primary-heading current-user-heading">Payment received!</h2>
    <h3 class="primary-subheading current-user-subheading-primary">Last 10 payments to {{session.currentUser.organization}}</h3>
  </div>
</div>

<div class="payments-show-list-container">
  <ul class="charges-list payments-show-charges-list">
    {{#each model.result.data as |charge|}}
    <li class="charge">
      <div class="charge-wrapper">
        <i class="charge-info fa fa-check-circle-o fa-4x"></i>
        <h2 class="current-user-heading charge-info charge-amount">${{format-currency charge.amount}}</h2>
        <h3 class="charge-info charge-created">{{format-date charge.created}}</h3>
        <h4 class="charge-info charge-status">{{charge.source.name}}</h4>
      </div>
    </li>
    {{/each}}
  </ul>
</div>

{{yield}}
