{{log model}}

<div class="user-show-content-container">
  <div class="header-text-wrapper">
    <img class="user-avatar" src="{{model.data.user.avatar_url}}" alt="John Schnettgoecke" />
    <h2 class="primary-heading">You have 5 new entries, {{model.data.user.first_name}}.</h2>
    <h3 class="primary-subheading">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit voluptate eius saepe animi quas eligendi, commodi natus quo obcaecati.</h3>
  </div>
</div>

<div class="how-it-works-heading-wrapper">
  <h2 class="how-it-works-heading">this week's entries</h2>
</div>

<div class="user-show-latest-entries-container">
  {{users-show-monday model=model}}
  {{users-show-tuesday model=model}}
  {{users-show-wednesday model=model}}
  {{users-show-thursday model=model}}
  {{users-show-friday model=model}}
  {{users-show-pay model=model action='checkout'}}
</div>


{{yield}}
