{{log model.entries.day_entries}}

<div class="user-show-page-header">
  {{#if session.isAuthenticated}}
    <a class="sign-out" href="#" {{action 'invalidateSession'}}>Sign out</a>
  {{/if}}
</div>

<div class="user-show-text-container">
  <h2 class="primary-heading user-show-heading">Thanks, {{model.data.user.first_name}}!<br>That was easy.</h2>
  <p class="user-show-text">You're only step away from joining the rest of the {{model.data.company.name}} team on TimeKeep!</p>
</div>

<div class="user-show-latest-entry">
  <ul class="user-show-entries-list">
    {{#each model.entries.day_entries as |entry|}}
    <li class="entry">
      <div class="entry-wrapper">
        <h2 class="entry-project">{{entry.project}}</h2>
        <h4 class="entry-client">{{entry.client}}</h4>
        <span class="entry-hours">{{entry.hours}}</span>
      </div>
    </li>
    {{/each}}
  </ul>



</div>

<form class="stripe-form" {{action 'checkout' on='submit'}}>
  <button class="connect-account pure-button pure-button-primary">connect payment</button>
</form>


{{yield}}
