{{users-show model=model action='invalidateSession'}}

<div class="user-show-main-container">

  {{users-show-monday model=model action='toggleMonday'}}

  {{users-show-tuesday model=model action='toggleTuesday'}}

  {{users-show-wednesday model=model action='toggleWednesday'}}

  {{users-show-pay model=model action='checkout'}}

</div>

{{outlet}}
